<form method="post" action="/pizza-orders/<%= @order.id() %>" class="detail_form">
  <label for="first-name">First name</label>
  <input id="first-name" type="text" name="first_name" value="<%= @order.first_name() %>"/>

  <label for="last-name">Last name</label>
  <input type="text" name="last_name" id="last-name" value="<%= @order.last_name() %>">

  <label for="pizza-select"> Select a pizza:</label>
  <select id="pizza-select" name="topping">

    <option value="Margherita" <%= "selected" if @order.topping == "Margherita"  %>>Margherita</option>

    <option value="Italian sausage" <%= "selected" if @order.topping == "Italian sausage"%> >Italian sausage</option>

  </select>

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" value="<%= @order.quantity() %>" min="1"/>

  <input type="submit" value="Finalise edit">
</form>
