
<table>
  <tr>
    <td>First name:</td>
    <td><%= @order.first_name() %></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><%= @order.last_name() %></td>
  </tr>
  <tr>
    <td>Topping:</td>
    <td><%= @order.topping() %></td>
  </tr>
  <tr>
    <td>Quantity:</td>
    <td><%= @order.quantity() %></td>
  </tr>
</table>

<form action="/pizza-orders/<%= @order.id() %>/delete" method="post">

  <input type="submit" value="Delete order" class="button">

</form>

<a href="/pizza-orders/<%= @order.id() %>/edit" class="button">Edit order</a>
